In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')       # to ignore warnings

In [2]:
loan_df=pd.read_csv('lending_club_loans.csv',header=1)
data_dict_df=pd.read_csv('LCDataDictionary.csv')

In [3]:
pd.set_option("display.max_columns", None)      # to see all columns together

In [4]:
loan_df.shape

(42538, 115)

In [5]:
loan_df.head(1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.0,863.16,0.0,0.0,0.0,Jan-2015,171.62,NaN,Sep-2016,744.0,740.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
# Creating Function to get column name explanation
def search(x):
    fnd=data_dict_df[data_dict_df['LoanStatNew']==str(x)].values
    return('Description is ---->',fnd[0][1])

In [7]:
search('funded_amnt_inv')

('Description is ---->',
 'The total amount committed by investors for that loan at that point in time.')

In [8]:
loan_df.isnull().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
                              ...
tax_liens                       108
tot_hi_cred_lim               42538
total_bal_ex_mort             42538
total_bc_limit                42538
total_il_high_credit_limit    42538
Length: 115, dtype: int64

In [9]:
# checking null values in each column 
for i in loan_df.columns:
    print(i,'--->',loan_df[i].isnull().sum())

id ---> 0
member_id ---> 3
loan_amnt ---> 3
funded_amnt ---> 3
funded_amnt_inv ---> 3
term ---> 3
int_rate ---> 3
installment ---> 3
grade ---> 3
sub_grade ---> 3
emp_title ---> 2629
emp_length ---> 1115
home_ownership ---> 3
annual_inc ---> 7
verification_status ---> 3
issue_d ---> 3
loan_status ---> 3
pymnt_plan ---> 3
url ---> 3
desc ---> 13296
purpose ---> 3
title ---> 16
zip_code ---> 3
addr_state ---> 3
dti ---> 3
delinq_2yrs ---> 32
earliest_cr_line ---> 32
fico_range_low ---> 3
fico_range_high ---> 3
inq_last_6mths ---> 32
mths_since_last_delinq ---> 26929
mths_since_last_record ---> 38887
open_acc ---> 32
pub_rec ---> 32
revol_bal ---> 3
revol_util ---> 93
total_acc ---> 32
initial_list_status ---> 3
out_prncp ---> 3
out_prncp_inv ---> 3
total_pymnt ---> 3
total_pymnt_inv ---> 3
total_rec_prncp ---> 3
total_rec_int ---> 3
total_rec_late_fee ---> 3
recoveries ---> 3
collection_recovery_fee ---> 3
last_pymnt_d ---> 86
last_pymnt_amnt ---> 3
next_pymnt_d ---> 39242
last_credit_pull_d ---> 7
last_fico_range_high ---> 3
last_fico_range_low ---> 3
collections_12_mths_ex_med ---> 148
mths_since_last_major_derog ---> 42538
policy_code ---> 3
application_type ---> 3
annual_inc_joint ---> 42538
dti_joint ---> 42538
verification_status_joint ---> 42538
acc_now_delinq ---> 32
tot_coll_amt ---> 42538
tot_cur_bal ---> 42538
open_acc_6m ---> 42538
open_il_6m ---> 42538
open_il_12m ---> 42538
open_il_24m ---> 42538
mths_since_rcnt_il ---> 42538
total_bal_il ---> 42538
il_util ---> 42538
open_rv_12m ---> 42538
open_rv_24m ---> 42538
max_bal_bc ---> 42538
all_util ---> 42538
total_rev_hi_lim ---> 42538
inq_fi ---> 42538
total_cu_tl ---> 42538
inq_last_12m ---> 42538
acc_open_past_24mths ---> 42538
avg_cur_bal ---> 42538
bc_open_to_buy ---> 42538
bc_util ---> 42538
chargeoff_within_12_mths ---> 148
delinq_amnt ---> 32
mo_sin_old_il_acct ---> 42538
mo_sin_old_rev_tl_op ---> 42538
mo_sin_rcnt_rev_tl_op ---> 42538
mo_sin_rcnt_tl ---> 42538
mort_acc ---> 42538
mths_since_recent_bc ---> 42538
mths_since_recent_bc_dlq ---> 42538
mths_since_recent_inq ---> 42538
mths_since_recent_revol_delinq ---> 42538
num_accts_ever_120_pd ---> 42538
num_actv_bc_tl ---> 42538
num_actv_rev_tl ---> 42538
num_bc_sats ---> 42538
num_bc_tl ---> 42538
num_il_tl ---> 42538
num_op_rev_tl ---> 42538
num_rev_accts ---> 42538
num_rev_tl_bal_gt_0 ---> 42538
num_sats ---> 42538
num_tl_120dpd_2m ---> 42538
num_tl_30dpd ---> 42538
num_tl_90g_dpd_24m ---> 42538
num_tl_op_past_12m ---> 42538
pct_tl_nvr_dlq ---> 42538
percent_bc_gt_75 ---> 42538
pub_rec_bankruptcies ---> 1368
tax_liens ---> 108
tot_hi_cred_lim ---> 42538
total_bal_ex_mort ---> 42538
total_bc_limit ---> 42538
total_il_high_credit_limit ---> 42538

# Dropping data

**Droping columns which consist of null values greater than 40%**

In [10]:
for i in loan_df.columns.values:
    if ((loan_df[i].isnull().sum()/loan_df.shape[0])>0.40):
        #print(i,loan_df[i].isnull().sum())
        loan_df.drop(i, axis=1,inplace=True)

In [11]:
loan_df.shape

(42538, 58)

In [12]:
# Checking number of unique values
loan_df.nunique()

id                            42538
member_id                     42535
loan_amnt                       898
funded_amnt                    1051
funded_amnt_inv                9244
term                              2
int_rate                        394
installment                   16459
grade                             7
sub_grade                        35
emp_title                     30658
emp_length                       11
home_ownership                    5
annual_inc                     5597
verification_status               3
issue_d                          55
loan_status                       9
pymnt_plan                        2
url                           42535
desc                          28963
purpose                          14
title                         21264
zip_code                        837
addr_state                       50
dti                            2894
delinq_2yrs                      12
earliest_cr_line                530
fico_range_low                   44
fico_range_high                  44
inq_last_6mths                   28
open_acc                         44
pub_rec                           6
revol_bal                     22709
revol_util                     1119
total_acc                        83
initial_list_status               1
out_prncp                       547
out_prncp_inv                   548
total_pymnt                   42388
total_pymnt_inv               40108
total_rec_prncp                8214
total_rec_int                 37533
total_rec_late_fee             2288
recoveries                     4530
collection_recovery_fee        2859
last_pymnt_d                    106
last_pymnt_amnt               37117
last_credit_pull_d              111
last_fico_range_high             72
last_fico_range_low              71
collections_12_mths_ex_med        1
policy_code                       1
application_type                  1
acc_now_delinq                    2
chargeoff_within_12_mths          1
delinq_amnt                       3
pub_rec_bankruptcies              3
tax_liens                         2
dtype: int64

**Droping column which contain only single values**

In [13]:
for i in loan_df.columns.values:
    if loan_df[i].nunique()<=1:
        print(loan_df[i].value_counts())
        print('------------------')
        loan_df.drop(i,axis=1,inplace=True)

f    42535
Name: initial_list_status, dtype: int64
------------------
0.0    42390
Name: collections_12_mths_ex_med, dtype: int64
------------------
1.0    42535
Name: policy_code, dtype: int64
------------------
INDIVIDUAL    42535
Name: application_type, dtype: int64
------------------
0.0    42390
Name: chargeoff_within_12_mths, dtype: int64
------------------

In [14]:
loan_df.shape

(42538, 53)

In [15]:
for i in loan_df.columns.values:
    if loan_df[i].nunique()<=10:
        print(i)
        print(loan_df[i].value_counts())
        print(loan_df[i].isna().sum())
        print('----------------------------------------------------')

term
 36 months    31534
 60 months    11001
Name: term, dtype: int64
3
----------------------------------------------------
grade
B    12389
A    10183
C     8740
D     6016
E     3394
F     1301
G      512
Name: grade, dtype: int64
3
----------------------------------------------------
home_ownership
RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64
3
----------------------------------------------------
verification_status
Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64
3
----------------------------------------------------
loan_status
Fully Paid                                             33586
Charged Off                                             5653
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Current                                                  513
In Grace Period                                           16
Late (31-120 days)                                        12
Late (16-30 days)                                          5
Default                                                    1
Name: loan_status, dtype: int64
3
----------------------------------------------------
pymnt_plan
n    42534
y        1
Name: pymnt_plan, dtype: int64
3
----------------------------------------------------
pub_rec
0.0    40130
1.0     2298
2.0       64
3.0       11
4.0        2
5.0        1
Name: pub_rec, dtype: int64
32
----------------------------------------------------
acc_now_delinq
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64
32
----------------------------------------------------
delinq_amnt
0.0       42504
27.0          1
6053.0        1
Name: delinq_amnt, dtype: int64
32
----------------------------------------------------
pub_rec_bankruptcies
0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64
1368
----------------------------------------------------
tax_liens
0.0    42429
1.0        1
Name: tax_liens, dtype: int64
108
----------------------------------------------------

**Droping columns which have most of their data in a single column**

In [16]:
#Droping some more column
col_to_drop=['pymnt_plan','acc_now_delinq','delinq_amnt','tax_liens']
loan_df.drop(columns=col_to_drop,axis=1,inplace=True)

In [17]:
loan_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low',
       'pub_rec_bankruptcies'],
      dtype='object')

In [18]:
loan_df.nunique()

id                         42538
member_id                  42535
loan_amnt                    898
funded_amnt                 1051
funded_amnt_inv             9244
term                           2
int_rate                     394
installment                16459
grade                          7
sub_grade                     35
emp_title                  30658
emp_length                    11
home_ownership                 5
annual_inc                  5597
verification_status            3
issue_d                       55
loan_status                    9
url                        42535
desc                       28963
purpose                       14
title                      21264
zip_code                     837
addr_state                    50
dti                         2894
delinq_2yrs                   12
earliest_cr_line             530
fico_range_low                44
fico_range_high               44
inq_last_6mths                28
open_acc                      44
pub_rec                        6
revol_bal                  22709
revol_util                  1119
total_acc                     83
out_prncp                    547
out_prncp_inv                548
total_pymnt                42388
total_pymnt_inv            40108
total_rec_prncp             8214
total_rec_int              37533
total_rec_late_fee          2288
recoveries                  4530
collection_recovery_fee     2859
last_pymnt_d                 106
last_pymnt_amnt            37117
last_credit_pull_d           111
last_fico_range_high          72
last_fico_range_low           71
pub_rec_bankruptcies           3
dtype: int64

In [19]:
for i in loan_df.columns.values:
    if ((loan_df[i].nunique()/loan_df.shape[0])>0.20):
        print(i,'-----',loan_df[i].nunique(),'-----',loan_df[i].dtype)

id ----- 42538 ----- object
member_id ----- 42535 ----- float64
funded_amnt_inv ----- 9244 ----- float64
installment ----- 16459 ----- float64
emp_title ----- 30658 ----- object
url ----- 42535 ----- object
desc ----- 28963 ----- object
title ----- 21264 ----- object
revol_bal ----- 22709 ----- float64
total_pymnt ----- 42388 ----- float64
total_pymnt_inv ----- 40108 ----- float64
total_rec_int ----- 37533 ----- float64
last_pymnt_amnt ----- 37117 ----- float64

**Dropping unnecessary columns**

In [20]:
col_to_drop_2=['id','member_id','url','desc']
loan_df.drop(columns=col_to_drop_2,inplace=True)

**Droping duplicate rows**

In [21]:
loan_df.drop_duplicates(inplace=True)

# Filling empty feilds

In [22]:
loan_df.isnull().sum()

loan_amnt                     1
funded_amnt                   1
funded_amnt_inv               1
term                          1
int_rate                      1
installment                   1
grade                         1
sub_grade                     1
emp_title                  2627
emp_length                 1113
home_ownership                1
annual_inc                    5
verification_status           1
issue_d                       1
loan_status                   1
purpose                       1
title                        14
zip_code                      1
addr_state                    1
dti                           1
delinq_2yrs                  30
earliest_cr_line             30
fico_range_low                1
fico_range_high               1
inq_last_6mths               30
open_acc                     30
pub_rec                      30
revol_bal                     1
revol_util                   91
total_acc                    30
out_prncp                     1
out_prncp_inv                 1
total_pymnt                   1
total_pymnt_inv               1
total_rec_prncp               1
total_rec_int                 1
total_rec_late_fee            1
recoveries                    1
collection_recovery_fee       1
last_pymnt_d                 84
last_pymnt_amnt               1
last_credit_pull_d            5
last_fico_range_high          1
last_fico_range_low           1
pub_rec_bankruptcies       1366
dtype: int64

In [23]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42536 entries, 0 to 42535
Data columns (total 45 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                42535 non-null  float64
 1   funded_amnt              42535 non-null  float64
 2   funded_amnt_inv          42535 non-null  float64
 3   term                     42535 non-null  object
 4   int_rate                 42535 non-null  object
 5   installment              42535 non-null  float64
 6   grade                    42535 non-null  object
 7   sub_grade                42535 non-null  object
 8   emp_title                39909 non-null  object
 9   emp_length               41423 non-null  object
 10  home_ownership           42535 non-null  object
 11  annual_inc               42531 non-null  float64
 12  verification_status      42535 non-null  object
 13  issue_d                  42535 non-null  object
 14  loan_status              42535 non-null  object
 15  purpose                  42535 non-null  object
 16  title                    42522 non-null  object
 17  zip_code                 42535 non-null  object
 18  addr_state               42535 non-null  object
 19  dti                      42535 non-null  float64
 20  delinq_2yrs              42506 non-null  float64
 21  earliest_cr_line         42506 non-null  object
 22  fico_range_low           42535 non-null  float64
 23  fico_range_high          42535 non-null  float64
 24  inq_last_6mths           42506 non-null  float64
 25  open_acc                 42506 non-null  float64
 26  pub_rec                  42506 non-null  float64
 27  revol_bal                42535 non-null  float64
 28  revol_util               42445 non-null  object
 29  total_acc                42506 non-null  float64
 30  out_prncp                42535 non-null  float64
 31  out_prncp_inv            42535 non-null  float64
 32  total_pymnt              42535 non-null  float64
 33  total_pymnt_inv          42535 non-null  float64
 34  total_rec_prncp          42535 non-null  float64
 35  total_rec_int            42535 non-null  float64
 36  total_rec_late_fee       42535 non-null  float64
 37  recoveries               42535 non-null  float64
 38  collection_recovery_fee  42535 non-null  float64
 39  last_pymnt_d             42452 non-null  object
 40  last_pymnt_amnt          42535 non-null  float64
 41  last_credit_pull_d       42531 non-null  object
 42  last_fico_range_high     42535 non-null  float64
 43  last_fico_range_low      42535 non-null  float64
 44  pub_rec_bankruptcies     41170 non-null  float64
dtypes: float64(27), object(18)
memory usage: 14.9+ MB

In [24]:
for i in loan_df.columns:
    if loan_df[i].dtype !='object':
        if loan_df[i].min()==0:
            loan_df[i].fillna(0,inplace=True)

In [25]:
loan_df.isnull().sum()

loan_amnt                     1
funded_amnt                   1
funded_amnt_inv               0
term                          1
int_rate                      1
installment                   1
grade                         1
sub_grade                     1
emp_title                  2627
emp_length                 1113
home_ownership                1
annual_inc                    5
verification_status           1
issue_d                       1
loan_status                   1
purpose                       1
title                        14
zip_code                      1
addr_state                    1
dti                           0
delinq_2yrs                   0
earliest_cr_line             30
fico_range_low                1
fico_range_high               1
inq_last_6mths                0
open_acc                     30
pub_rec                       0
revol_bal                     0
revol_util                   91
total_acc                    30
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 84
last_pymnt_amnt               0
last_credit_pull_d            5
last_fico_range_high          0
last_fico_range_low           0
pub_rec_bankruptcies          0
dtype: int64

In [26]:
for i in loan_df.columns:
    if loan_df[i].dtype =='object':
        print(i)

term
int_rate
grade
sub_grade
emp_title
emp_length
home_ownership
verification_status
issue_d
loan_status
purpose
title
zip_code
addr_state
earliest_cr_line
revol_util
last_pymnt_d
last_credit_pull_d

In [31]:
loan_df['emp_title'].value_counts()

US Army                             139
Bank of America                     115
IBM                                  72
Kaiser Permanente                    61
AT&T                                 61
                                   ...
Regional Elite Airlines Services      1
Mass General Medical Group            1
Kontera                               1
Southeast Georgia Health ystem        1
Homemaker                             1
Name: emp_title, Length: 30658, dtype: int64

In [32]:
loan_df['emp_title'].fillna('Other',inplace=True)

In [33]:
loan_df['emp_length'].value_counts()

10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

In [35]:
loan_df['emp_length'].fillna('< 1 year',inplace=True)

In [36]:
loan_df['home_ownership'].value_counts()

RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

In [37]:
loan_df['home_ownership'].fillna('OTHER',inplace=True)

In [38]:
loan_df[loan_df['home_ownership']=='NONE']=loan_df[loan_df['home_ownership']=='NONE'].replace('NONE','OTHER')

In [39]:
loan_df['verification_status'].value_counts()

Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64

In [40]:
loan_df['verification_status'].fillna('Not Verified',inplace=True)

In [43]:
loan_df['purpose'].value_counts()

debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

In [44]:
loan_df['purpose'].fillna('other',inplace=True)

In [46]:
loan_df['zip_code'].value_counts()

100xx    649
945xx    559
606xx    548
112xx    538
070xx    503
        ...
823xx      1
965xx      1
388xx      1
386xx      1
036xx      1
Name: zip_code, Length: 837, dtype: int64

In [47]:
loan_df.drop('zip_code',axis=1,inplace=True)

In [50]:
loan_df['revol_util'].value_counts()

0%        1070
40.7%       65
0.2%        64
63%         63
66.6%       62
          ...
21.59%       1
39.95%       1
0.01%        1
17.67%       1
105.7%       1
Name: revol_util, Length: 1119, dtype: int64

In [51]:
loan_df['revol_util'].fillna('0%',inplace=True)

In [53]:
loan_df['last_credit_pull_d'].value_counts()

Sep-2016    16232
Mar-2016      859
Aug-2016      771
Apr-2016      700
Feb-2013      696
            ...
Nov-2007        3
May-2008        1
Jul-2008        1
Jun-2008        1
Jul-2007        1
Name: last_credit_pull_d, Length: 111, dtype: int64

In [54]:
loan_df.isnull().sum()

loan_amnt                   1
funded_amnt                 1
funded_amnt_inv             0
term                        1
int_rate                    1
installment                 1
grade                       1
sub_grade                   1
emp_title                   0
emp_length                  0
home_ownership              0
annual_inc                  5
verification_status         0
issue_d                     1
loan_status                 1
purpose                     0
title                      14
addr_state                  1
dti                         0
delinq_2yrs                 0
earliest_cr_line           30
fico_range_low              1
fico_range_high             1
inq_last_6mths              0
open_acc                   30
pub_rec                     0
revol_bal                   0
revol_util                  0
total_acc                  30
out_prncp                   0
out_prncp_inv               0
total_pymnt                 0
total_pymnt_inv             0
total_rec_prncp             0
total_rec_int               0
total_rec_late_fee          0
recoveries                  0
collection_recovery_fee     0
last_pymnt_d               84
last_pymnt_amnt             0
last_credit_pull_d          5
last_fico_range_high        0
last_fico_range_low         0
pub_rec_bankruptcies        0
dtype: int64

**droping all rows which consist of null values**

In [55]:
loan_df.dropna(inplace=True)

In [56]:
loan_df.isnull().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
title                      0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
fico_range_low             0
fico_range_high            0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
out_prncp                  0
out_prncp_inv              0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
last_credit_pull_d         0
last_fico_range_high       0
last_fico_range_low        0
pub_rec_bankruptcies       0
dtype: int64

In [57]:
loan_df.shape

(42407, 44)

# cleaning and changing dtype of variable

In [58]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42407 entries, 0 to 42514
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                42407 non-null  float64
 1   funded_amnt              42407 non-null  float64
 2   funded_amnt_inv          42407 non-null  float64
 3   term                     42407 non-null  object
 4   int_rate                 42407 non-null  object
 5   installment              42407 non-null  float64
 6   grade                    42407 non-null  object
 7   sub_grade                42407 non-null  object
 8   emp_title                42407 non-null  object
 9   emp_length               42407 non-null  object
 10  home_ownership           42407 non-null  object
 11  annual_inc               42407 non-null  float64
 12  verification_status      42407 non-null  object
 13  issue_d                  42407 non-null  object
 14  loan_status              42407 non-null  object
 15  purpose                  42407 non-null  object
 16  title                    42407 non-null  object
 17  addr_state               42407 non-null  object
 18  dti                      42407 non-null  float64
 19  delinq_2yrs              42407 non-null  float64
 20  earliest_cr_line         42407 non-null  object
 21  fico_range_low           42407 non-null  float64
 22  fico_range_high          42407 non-null  float64
 23  inq_last_6mths           42407 non-null  float64
 24  open_acc                 42407 non-null  float64
 25  pub_rec                  42407 non-null  float64
 26  revol_bal                42407 non-null  float64
 27  revol_util               42407 non-null  object
 28  total_acc                42407 non-null  float64
 29  out_prncp                42407 non-null  float64
 30  out_prncp_inv            42407 non-null  float64
 31  total_pymnt              42407 non-null  float64
 32  total_pymnt_inv          42407 non-null  float64
 33  total_rec_prncp          42407 non-null  float64
 34  total_rec_int            42407 non-null  float64
 35  total_rec_late_fee       42407 non-null  float64
 36  recoveries               42407 non-null  float64
 37  collection_recovery_fee  42407 non-null  float64
 38  last_pymnt_d             42407 non-null  object
 39  last_pymnt_amnt          42407 non-null  float64
 40  last_credit_pull_d       42407 non-null  object
 41  last_fico_range_high     42407 non-null  float64
 42  last_fico_range_low      42407 non-null  float64
 43  pub_rec_bankruptcies     42407 non-null  float64
dtypes: float64(27), object(17)
memory usage: 14.6+ MB

In [59]:
def term_clean(i):
    return (i[0:3])

loan_df['term']=loan_df['term'].apply(term_clean).astype(float)

In [60]:
def int_rate_clean(i):
    return (i[:-1])

loan_df['int_rate']=loan_df['int_rate'].apply(int_rate_clean).astype(float)

In [61]:
def revol_util_clean(i):
    return (i[:-1])

loan_df['revol_util']=loan_df['revol_util'].apply(revol_util_clean).astype(float)

In [62]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42407 entries, 0 to 42514
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                42407 non-null  float64
 1   funded_amnt              42407 non-null  float64
 2   funded_amnt_inv          42407 non-null  float64
 3   term                     42407 non-null  float64
 4   int_rate                 42407 non-null  float64
 5   installment              42407 non-null  float64
 6   grade                    42407 non-null  object
 7   sub_grade                42407 non-null  object
 8   emp_title                42407 non-null  object
 9   emp_length               42407 non-null  object
 10  home_ownership           42407 non-null  object
 11  annual_inc               42407 non-null  float64
 12  verification_status      42407 non-null  object
 13  issue_d                  42407 non-null  object
 14  loan_status              42407 non-null  object
 15  purpose                  42407 non-null  object
 16  title                    42407 non-null  object
 17  addr_state               42407 non-null  object
 18  dti                      42407 non-null  float64
 19  delinq_2yrs              42407 non-null  float64
 20  earliest_cr_line         42407 non-null  object
 21  fico_range_low           42407 non-null  float64
 22  fico_range_high          42407 non-null  float64
 23  inq_last_6mths           42407 non-null  float64
 24  open_acc                 42407 non-null  float64
 25  pub_rec                  42407 non-null  float64
 26  revol_bal                42407 non-null  float64
 27  revol_util               42407 non-null  float64
 28  total_acc                42407 non-null  float64
 29  out_prncp                42407 non-null  float64
 30  out_prncp_inv            42407 non-null  float64
 31  total_pymnt              42407 non-null  float64
 32  total_pymnt_inv          42407 non-null  float64
 33  total_rec_prncp          42407 non-null  float64
 34  total_rec_int            42407 non-null  float64
 35  total_rec_late_fee       42407 non-null  float64
 36  recoveries               42407 non-null  float64
 37  collection_recovery_fee  42407 non-null  float64
 38  last_pymnt_d             42407 non-null  object
 39  last_pymnt_amnt          42407 non-null  float64
 40  last_credit_pull_d       42407 non-null  object
 41  last_fico_range_high     42407 non-null  float64
 42  last_fico_range_low      42407 non-null  float64
 43  pub_rec_bankruptcies     42407 non-null  float64
dtypes: float64(30), object(14)
memory usage: 14.6+ MB

In [63]:
for i in loan_df.columns:
    if loan_df[i].dtype =='object':
        print(i)

grade
sub_grade
emp_title
emp_length
home_ownership
verification_status
issue_d
loan_status
purpose
title
addr_state
earliest_cr_line
last_pymnt_d
last_credit_pull_d

In [64]:
for i in loan_df.columns:
    if loan_df[i].dtype =='object':
        if i[-1] =='d':
            print(i)
            print(search(i))

issue_d
('Description is ---->', 'The month which the loan was funded')
last_pymnt_d
('Description is ---->', 'Last month payment was received')
last_credit_pull_d
('Description is ---->', 'The most recent month LC pulled credit for this loan')

In [65]:
# Checking if their any other object variable with date-time data
for i in loan_df.columns:
    if loan_df[i].dtype =='object':
        if i[-1] !='d':
            print(i)
            print(search(i))

grade
('Description is ---->', 'LC assigned loan grade')
sub_grade
('Description is ---->', 'LC assigned loan subgrade')
emp_title
('Description is ---->', 'The job title supplied by the Borrower when applying for the loan.*')
emp_length
('Description is ---->', 'Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. ')
home_ownership
('Description is ---->', 'The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.')
verification_status
('Description is ---->', 'Indicates if income was verified by LC, not verified, or if the income source was verified')
loan_status
('Description is ---->', 'Current status of the loan')
purpose
('Description is ---->', 'A category provided by the borrower for the loan request. ')
title
('Description is ---->', 'The loan title provided by the borrower')
addr_state
('Description is ---->', 'The state provided by the borrower in the loan application')
earliest_cr_line
('Description is ---->', "The month the borrower's earliest reported credit line was opened")

In [66]:
col_to_dtime=['issue_d','last_pymnt_d','last_credit_pull_d','earliest_cr_line']
for i in col_to_dtime:
    loan_df[i]=pd.to_datetime(loan_df[str(i)])

In [67]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42407 entries, 0 to 42514
Data columns (total 44 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                42407 non-null  float64
 1   funded_amnt              42407 non-null  float64
 2   funded_amnt_inv          42407 non-null  float64
 3   term                     42407 non-null  float64
 4   int_rate                 42407 non-null  float64
 5   installment              42407 non-null  float64
 6   grade                    42407 non-null  object
 7   sub_grade                42407 non-null  object
 8   emp_title                42407 non-null  object
 9   emp_length               42407 non-null  object
 10  home_ownership           42407 non-null  object
 11  annual_inc               42407 non-null  float64
 12  verification_status      42407 non-null  object
 13  issue_d                  42407 non-null  datetime64[ns]
 14  loan_status              42407 non-null  object
 15  purpose                  42407 non-null  object
 16  title                    42407 non-null  object
 17  addr_state               42407 non-null  object
 18  dti                      42407 non-null  float64
 19  delinq_2yrs              42407 non-null  float64
 20  earliest_cr_line         42407 non-null  datetime64[ns]
 21  fico_range_low           42407 non-null  float64
 22  fico_range_high          42407 non-null  float64
 23  inq_last_6mths           42407 non-null  float64
 24  open_acc                 42407 non-null  float64
 25  pub_rec                  42407 non-null  float64
 26  revol_bal                42407 non-null  float64
 27  revol_util               42407 non-null  float64
 28  total_acc                42407 non-null  float64
 29  out_prncp                42407 non-null  float64
 30  out_prncp_inv            42407 non-null  float64
 31  total_pymnt              42407 non-null  float64
 32  total_pymnt_inv          42407 non-null  float64
 33  total_rec_prncp          42407 non-null  float64
 34  total_rec_int            42407 non-null  float64
 35  total_rec_late_fee       42407 non-null  float64
 36  recoveries               42407 non-null  float64
 37  collection_recovery_fee  42407 non-null  float64
 38  last_pymnt_d             42407 non-null  datetime64[ns]
 39  last_pymnt_amnt          42407 non-null  float64
 40  last_credit_pull_d       42407 non-null  datetime64[ns]
 41  last_fico_range_high     42407 non-null  float64
 42  last_fico_range_low      42407 non-null  float64
 43  pub_rec_bankruptcies     42407 non-null  float64
dtypes: datetime64[ns](4), float64(30), object(10)
memory usage: 14.6+ MB

**saving to new csv**

In [68]:
loan_df.to_csv('Clean Lending Club Loans')