In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv('lending_club_loans.csv',header=1)
xy=pd.read_csv('LCDataDictionary.csv')

In [4]:
pd.set_option("display.max_columns", None)

In [5]:
df.shape

(42538, 115)

In [6]:
xy[:60]

,LoanStatNew,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan...
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by th...
5,annual_inc_joint,The combined self-reported annual income provi...
6,application_type,Indicates whether the loan is an individual ap...
7,avg_cur_bal,Average current balance of all accounts
8,bc_open_to_buy,Total open to buy on revolving bankcards.
9,bc_util,Ratio of total current balance to high credit/...
10,chargeoff_within_12_mths,Number of charge-offs within 12 months
11,collection_recovery_fee,post charge off collection fee
12,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
13,delinq_2yrs,The number of 30+ days past-due incidences of ...
14,delinq_amnt,The past-due amount owed for the accounts on w...
15,desc,Loan description provided by the borrower
16,dti,A ratio calculated using the borrower’s total ...
17,dti_joint,A ratio calculated using the co-borrowers' tot...
18,earliest_cr_line,The month the borrower's earliest reported cre...
19,emp_length,Employment length in years. Possible values ar...
20,emp_title,The job title supplied by the Borrower when ap...
21,fico_range_high,The upper boundary range the borrower’s FICO a...
22,fico_range_low,The lower boundary range the borrower’s FICO a...
23,funded_amnt,The total amount committed to that loan at tha...
24,funded_amnt_inv,The total amount committed by investors for th...
25,grade,LC assigned loan grade
26,home_ownership,The home ownership status provided by the borr...
27,id,A unique LC assigned ID for the loan listing.
28,il_util,Ratio of total current balance to high credit/...
29,initial_list_status,The initial listing status of the loan. Possib...
30,inq_fi,Number of personal finance inquiries
31,inq_last_12m,Number of credit inquiries in past 12 months
32,inq_last_6mths,The number of inquiries in past 6 months (excl...
33,installment,The monthly payment owed by the borrower if th...
34,int_rate,Interest Rate on the loan
35,issue_d,The month which the loan was funded
36,last_credit_pull_d,The most recent month LC pulled credit for thi...
37,last_fico_range_high,The upper boundary range the borrower’s last F...
38,last_fico_range_low,The lower boundary range the borrower’s last F...
39,last_pymnt_amnt,Last total payment amount received
40,last_pymnt_d,Last month payment was received
41,loan_amnt,The listed amount of the loan applied for by t...
42,loan_status,Current status of the loan
43,max_bal_bc,Maximum current balance owed on all revolving ...
44,member_id,A unique LC assigned Id for the borrower member.
45,mo_sin_old_il_acct,Months since oldest bank installment account o...
46,mo_sin_old_rev_tl_op,Months since oldest revolving account opened
47,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened
48,mo_sin_rcnt_tl,Months since most recent account opened
49,mort_acc,Number of mortgage accounts.
50,mths_since_last_delinq,The number of months since the borrower's last...
51,mths_since_last_major_derog,Months since most recent 90-day or worse rating
52,mths_since_last_record,The number of months since the last public rec...
53,mths_since_rcnt_il,Months since most recent installment accounts ...
54,mths_since_recent_bc,Months since most recent bankcard account opened.
55,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency
56,mths_since_recent_inq,Months since most recent inquiry.
57,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.
58,next_pymnt_d,Next scheduled payment date
59,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due

In [7]:
xy[60:]

,LoanStatNew,Description
60,num_actv_bc_tl,Number of currently active bankcard accounts
61,num_actv_rev_tl,Number of currently active revolving trades
62,num_bc_sats,Number of satisfactory bankcard accounts
63,num_bc_tl,Number of bankcard accounts
64,num_il_tl,Number of installment accounts
65,num_op_rev_tl,Number of open revolving accounts
66,num_rev_accts,Number of revolving accounts
67,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0
68,num_sats,Number of satisfactory accounts
69,num_tl_120dpd_2m,Number of accounts currently 120 days past due...
70,num_tl_30dpd,Number of accounts currently 30 days past due ...
71,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in...
72,num_tl_op_past_12m,Number of accounts opened in past 12 months
73,open_acc,The number of open credit lines in the borrowe...
74,open_acc_6m,Number of open trades in last 6 months
75,open_il_12m,Number of installment accounts opened in past ...
76,open_il_24m,Number of installment accounts opened in past ...
77,open_il_6m,Number of currently active installment trades
78,open_rv_12m,Number of revolving trades opened in past 12 m...
79,open_rv_24m,Number of revolving trades opened in past 24 m...
80,out_prncp,Remaining outstanding principal for total amou...
81,out_prncp_inv,Remaining outstanding principal for portion of...
82,pct_tl_nvr_dlq,Percent of trades never delinquent
83,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of l...
84,policy_code,publicly available policy_code=1\nnew products...
85,pub_rec,Number of derogatory public records
86,pub_rec_bankruptcies,Number of public record bankruptcies
87,purpose,A category provided by the borrower for the lo...
88,pymnt_plan,Indicates if a payment plan has been put in pl...
89,recoveries,post charge off gross recovery
90,revol_bal,Total credit revolving balance
91,revol_util,"Revolving line utilization rate, or the amount..."
92,sub_grade,LC assigned loan subgrade
93,tax_liens,Number of tax liens
94,term,The number of payments on the loan. Values are...
95,title,The loan title provided by the borrower
96,tot_coll_amt,Total collection amounts ever owed
97,tot_cur_bal,Total current balance of all accounts
98,tot_hi_cred_lim,Total high credit/credit limit
99,total_acc,The total number of credit lines currently in ...
100,total_bal_ex_mort,Total credit balance excluding mortgage
101,total_bal_il,Total current balance of all installment accounts
102,total_bc_limit,Total bankcard high credit/credit limit
103,total_cu_tl,Number of finance trades
104,total_il_high_credit_limit,Total installment high credit/credit limit
105,total_pymnt,Payments received to date for total amount funded
106,total_pymnt_inv,Payments received to date for portion of total...
107,total_rec_int,Interest received to date
108,total_rec_late_fee,Late fees received to date
109,total_rec_prncp,Principal received to date
110,total_rev_hi_lim,Total revolving high credit/credit limit
111,url,URL for the LC page with listing data.
112,verification_status,"Indicates if income was verified by LC, not ve..."
113,verified_status_joint,Indicates if the co-borrowers' joint income wa...
114,zip_code,The first 3 numbers of the zip code provided b...
115,NaN,NaN
116,NaN,* Employer Title replaces Employer Name for al...

In [8]:
df.shape

(42538, 115)

In [9]:
df.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.00,0.00,Jan-2015,171.62,NaN,Sep-2016,744.0,740.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-2013,119.66,NaN,Sep-2016,499.0,0.0,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [10]:
# checking null values in each column & number of unique values

for i in df.columns.values:
    print(i,',',df[i].isnull().sum(),',',df[i].nunique())

id , 0 , 42538
member_id , 3 , 42535
loan_amnt , 3 , 898
funded_amnt , 3 , 1051
funded_amnt_inv , 3 , 9244
term , 3 , 2
int_rate , 3 , 394
installment , 3 , 16459
grade , 3 , 7
sub_grade , 3 , 35
emp_title , 2629 , 30658
emp_length , 1115 , 11
home_ownership , 3 , 5
annual_inc , 7 , 5597
verification_status , 3 , 3
issue_d , 3 , 55
loan_status , 3 , 9
pymnt_plan , 3 , 2
url , 3 , 42535
desc , 13296 , 28963
purpose , 3 , 14
title , 16 , 21264
zip_code , 3 , 837
addr_state , 3 , 50
dti , 3 , 2894
delinq_2yrs , 32 , 12
earliest_cr_line , 32 , 530
fico_range_low , 3 , 44
fico_range_high , 3 , 44
inq_last_6mths , 32 , 28
mths_since_last_delinq , 26929 , 95
mths_since_last_record , 38887 , 113
open_acc , 32 , 44
pub_rec , 32 , 6
revol_bal , 3 , 22709
revol_util , 93 , 1119
total_acc , 32 , 83
initial_list_status , 3 , 1
out_prncp , 3 , 547
out_prncp_inv , 3 , 548
total_pymnt , 3 , 42388
total_pymnt_inv , 3 , 40108
total_rec_prncp , 3 , 8214
total_rec_int , 3 , 37533
total_rec_late_fee , 3 , 2288
recoveries , 3 , 4530
collection_recovery_fee , 3 , 2859
last_pymnt_d , 86 , 106
last_pymnt_amnt , 3 , 37117
next_pymnt_d , 39242 , 101
last_credit_pull_d , 7 , 111
last_fico_range_high , 3 , 72
last_fico_range_low , 3 , 71
collections_12_mths_ex_med , 148 , 1
mths_since_last_major_derog , 42538 , 0
policy_code , 3 , 1
application_type , 3 , 1
annual_inc_joint , 42538 , 0
dti_joint , 42538 , 0
verification_status_joint , 42538 , 0
acc_now_delinq , 32 , 2
tot_coll_amt , 42538 , 0
tot_cur_bal , 42538 , 0
open_acc_6m , 42538 , 0
open_il_6m , 42538 , 0
open_il_12m , 42538 , 0
open_il_24m , 42538 , 0
mths_since_rcnt_il , 42538 , 0
total_bal_il , 42538 , 0
il_util , 42538 , 0
open_rv_12m , 42538 , 0
open_rv_24m , 42538 , 0
max_bal_bc , 42538 , 0
all_util , 42538 , 0
total_rev_hi_lim , 42538 , 0
inq_fi , 42538 , 0
total_cu_tl , 42538 , 0
inq_last_12m , 42538 , 0
acc_open_past_24mths , 42538 , 0
avg_cur_bal , 42538 , 0
bc_open_to_buy , 42538 , 0
bc_util , 42538 , 0
chargeoff_within_12_mths , 148 , 1
delinq_amnt , 32 , 3
mo_sin_old_il_acct , 42538 , 0
mo_sin_old_rev_tl_op , 42538 , 0
mo_sin_rcnt_rev_tl_op , 42538 , 0
mo_sin_rcnt_tl , 42538 , 0
mort_acc , 42538 , 0
mths_since_recent_bc , 42538 , 0
mths_since_recent_bc_dlq , 42538 , 0
mths_since_recent_inq , 42538 , 0
mths_since_recent_revol_delinq , 42538 , 0
num_accts_ever_120_pd , 42538 , 0
num_actv_bc_tl , 42538 , 0
num_actv_rev_tl , 42538 , 0
num_bc_sats , 42538 , 0
num_bc_tl , 42538 , 0
num_il_tl , 42538 , 0
num_op_rev_tl , 42538 , 0
num_rev_accts , 42538 , 0
num_rev_tl_bal_gt_0 , 42538 , 0
num_sats , 42538 , 0
num_tl_120dpd_2m , 42538 , 0
num_tl_30dpd , 42538 , 0
num_tl_90g_dpd_24m , 42538 , 0
num_tl_op_past_12m , 42538 , 0
pct_tl_nvr_dlq , 42538 , 0
percent_bc_gt_75 , 42538 , 0
pub_rec_bankruptcies , 1368 , 3
tax_liens , 108 , 2
tot_hi_cred_lim , 42538 , 0
total_bal_ex_mort , 42538 , 0
total_bc_limit , 42538 , 0
total_il_high_credit_limit , 42538 , 0

In [10]:
# Dropping all columns which are totally empty
df.dropna(how='all', axis=1, inplace=True)

In [11]:
df.shape

(42538, 61)

In [12]:
df.head(2)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,735.0,739.0,1.0,NaN,NaN,3.0,0.0,13648.0,83.7%,9.0,f,0.0,0.0,5863.155187,5833.84,5000.00,863.16,0.0,0.00,0.00,Jan-2015,171.62,NaN,Sep-2016,744.0,740.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-1999,740.0,744.0,5.0,NaN,NaN,3.0,0.0,1687.0,9.4%,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.0,117.08,1.11,Apr-2013,119.66,NaN,Sep-2016,499.0,0.0,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [13]:
# Droping columns which consist of almost all values
for i in df.columns.values:
    if ((df[i].isnull().sum()/df.shape[0])>0.50):
        print(i,df[i].isnull().sum())
        df.drop(i, axis=1, inplace=True)

mths_since_last_delinq 26929
mths_since_last_record 38887
next_pymnt_d 39242

In [14]:
df.shape

(42538, 58)

In [15]:
for i in df.columns.values:
    print(i,'-',df[i].isnull().sum(),',',df[i].nunique())

id - 0 , 42538
member_id - 3 , 42535
loan_amnt - 3 , 898
funded_amnt - 3 , 1051
funded_amnt_inv - 3 , 9244
term - 3 , 2
int_rate - 3 , 394
installment - 3 , 16459
grade - 3 , 7
sub_grade - 3 , 35
emp_title - 2629 , 30658
emp_length - 1115 , 11
home_ownership - 3 , 5
annual_inc - 7 , 5597
verification_status - 3 , 3
issue_d - 3 , 55
loan_status - 3 , 9
pymnt_plan - 3 , 2
url - 3 , 42535
desc - 13296 , 28963
purpose - 3 , 14
title - 16 , 21264
zip_code - 3 , 837
addr_state - 3 , 50
dti - 3 , 2894
delinq_2yrs - 32 , 12
earliest_cr_line - 32 , 530
fico_range_low - 3 , 44
fico_range_high - 3 , 44
inq_last_6mths - 32 , 28
open_acc - 32 , 44
pub_rec - 32 , 6
revol_bal - 3 , 22709
revol_util - 93 , 1119
total_acc - 32 , 83
initial_list_status - 3 , 1
out_prncp - 3 , 547
out_prncp_inv - 3 , 548
total_pymnt - 3 , 42388
total_pymnt_inv - 3 , 40108
total_rec_prncp - 3 , 8214
total_rec_int - 3 , 37533
total_rec_late_fee - 3 , 2288
recoveries - 3 , 4530
collection_recovery_fee - 3 , 2859
last_pymnt_d - 86 , 106
last_pymnt_amnt - 3 , 37117
last_credit_pull_d - 7 , 111
last_fico_range_high - 3 , 72
last_fico_range_low - 3 , 71
collections_12_mths_ex_med - 148 , 1
policy_code - 3 , 1
application_type - 3 , 1
acc_now_delinq - 32 , 2
chargeoff_within_12_mths - 148 , 1
delinq_amnt - 32 , 3
pub_rec_bankruptcies - 1368 , 3
tax_liens - 108 , 2

In [16]:
df['emp_title'].value_counts()

US Army                             139
Bank of America                     115
IBM                                  72
Kaiser Permanente                    61
AT&T                                 61
                                   ...
Regional Elite Airlines Services      1
Mass General Medical Group            1
Kontera                               1
Southeast Georgia Health ystem        1
Homemaker                             1
Name: emp_title, Length: 30658, dtype: int64

In [17]:
df['emp_title'].fillna('Other', inplace=True)

In [18]:
df['emp_length'].value_counts()

10+ years    9369
< 1 year     5062
2 years      4743
3 years      4364
4 years      3649
1 year       3595
5 years      3458
6 years      2375
7 years      1875
8 years      1592
9 years      1341
Name: emp_length, dtype: int64

In [19]:
df['emp_length'].fillna('< 1 year', inplace=True)

In [20]:
df.drop('url',axis=1,inplace=True)

In [21]:
df['desc'].value_counts()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 225
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                11
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 8
refinancing                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        5
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
  Borrower added on 04/13/11 > debt consolidation<br/> Borrower added on 04/13/11 > debt consolidation<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                        1
  Borrower added on 04/13/11 > I am looking to pay the difference in the sell of my home that I have up for sale and in contract. I am looking at paying $20000 of the difference so I can relocate closer to me and my wife's employers. We have no other debt, to include credit cards, with the exception of an auto loan at $19000. I plan on solely paying this debt off and ultimately purchasing a home again in a closer location. I initially needed a $12000 loan , but now I am only needing the requested amount. Thank you.<br/>      1
  Borrower added on 04/18/11 > I am employed for 23 years at a major aerospace company.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
I'm in the process of doing home remolding.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
I need to make several improvements around the house - fix garage, fix back fencing, and misc other.                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: desc, Length: 28963, dtype: int64

In [22]:
df.drop('desc', axis=1, inplace=True)

In [23]:
df['pub_rec_bankruptcies'].value_counts()

0.0    39316
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64

In [24]:
df['pub_rec_bankruptcies'].fillna(0.0, inplace=True)

In [25]:
df.shape

(42538, 56)

In [26]:
for i in df.columns.values:
    print(i,'-',df[i].isnull().sum())

id - 0
member_id - 3
loan_amnt - 3
funded_amnt - 3
funded_amnt_inv - 3
term - 3
int_rate - 3
installment - 3
grade - 3
sub_grade - 3
emp_title - 0
emp_length - 0
home_ownership - 3
annual_inc - 7
verification_status - 3
issue_d - 3
loan_status - 3
pymnt_plan - 3
purpose - 3
title - 16
zip_code - 3
addr_state - 3
dti - 3
delinq_2yrs - 32
earliest_cr_line - 32
fico_range_low - 3
fico_range_high - 3
inq_last_6mths - 32
open_acc - 32
pub_rec - 32
revol_bal - 3
revol_util - 93
total_acc - 32
initial_list_status - 3
out_prncp - 3
out_prncp_inv - 3
total_pymnt - 3
total_pymnt_inv - 3
total_rec_prncp - 3
total_rec_int - 3
total_rec_late_fee - 3
recoveries - 3
collection_recovery_fee - 3
last_pymnt_d - 86
last_pymnt_amnt - 3
last_credit_pull_d - 7
last_fico_range_high - 3
last_fico_range_low - 3
collections_12_mths_ex_med - 148
policy_code - 3
application_type - 3
acc_now_delinq - 32
chargeoff_within_12_mths - 148
delinq_amnt - 32
pub_rec_bankruptcies - 0
tax_liens - 108

In [27]:
for i in df.columns.values:
    if df[i].nunique()<=1:
        print(i)
        print(df[i].value_counts())
        print('----------------------------------------------------')
        df.drop(i,axis=1,inplace=True)

initial_list_status
f    42535
Name: initial_list_status, dtype: int64
----------------------------------------------------
collections_12_mths_ex_med
0.0    42390
Name: collections_12_mths_ex_med, dtype: int64
----------------------------------------------------
policy_code
1.0    42535
Name: policy_code, dtype: int64
----------------------------------------------------
application_type
INDIVIDUAL    42535
Name: application_type, dtype: int64
----------------------------------------------------
chargeoff_within_12_mths
0.0    42390
Name: chargeoff_within_12_mths, dtype: int64
----------------------------------------------------

In [28]:
for i in df.columns.values:
    if df[i].nunique()<=5:
        print(i)
        print(df[i].value_counts())
        print(df[i].isna().sum())
        print('----------------------------------------------------')

term
 36 months    31534
 60 months    11001
Name: term, dtype: int64
3
----------------------------------------------------
home_ownership
RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64
3
----------------------------------------------------
verification_status
Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64
3
----------------------------------------------------
pymnt_plan
n    42534
y        1
Name: pymnt_plan, dtype: int64
3
----------------------------------------------------
acc_now_delinq
0.0    42502
1.0        4
Name: acc_now_delinq, dtype: int64
32
----------------------------------------------------
delinq_amnt
0.0       42504
27.0          1
6053.0        1
Name: delinq_amnt, dtype: int64
32
----------------------------------------------------
pub_rec_bankruptcies
0.0    40684
1.0     1846
2.0        8
Name: pub_rec_bankruptcies, dtype: int64
0
----------------------------------------------------
tax_liens
0.0    42429
1.0        1
Name: tax_liens, dtype: int64
108
----------------------------------------------------

In [29]:
drop_col=['pymnt_plan','acc_now_delinq','delinq_amnt','tax_liens']

In [30]:
df.drop(columns=drop_col,axis=1,inplace=True)

In [31]:
df.shape

(42538, 47)

In [32]:
for i in df.columns.values:
    print(i+'=',df[i].isnull().sum())

id= 0
member_id= 3
loan_amnt= 3
funded_amnt= 3
funded_amnt_inv= 3
term= 3
int_rate= 3
installment= 3
grade= 3
sub_grade= 3
emp_title= 0
emp_length= 0
home_ownership= 3
annual_inc= 7
verification_status= 3
issue_d= 3
loan_status= 3
purpose= 3
title= 16
zip_code= 3
addr_state= 3
dti= 3
delinq_2yrs= 32
earliest_cr_line= 32
fico_range_low= 3
fico_range_high= 3
inq_last_6mths= 32
open_acc= 32
pub_rec= 32
revol_bal= 3
revol_util= 93
total_acc= 32
out_prncp= 3
out_prncp_inv= 3
total_pymnt= 3
total_pymnt_inv= 3
total_rec_prncp= 3
total_rec_int= 3
total_rec_late_fee= 3
recoveries= 3
collection_recovery_fee= 3
last_pymnt_d= 86
last_pymnt_amnt= 3
last_credit_pull_d= 7
last_fico_range_high= 3
last_fico_range_low= 3
pub_rec_bankruptcies= 0

In [33]:
df['last_pymnt_amnt'].value_counts()

0.00       96
200.00     19
100.00     17
50.00      17
150.00     13
           ..
4210.88     1
548.44      1
1367.16     1
2674.24     1
156.39      1
Name: last_pymnt_amnt, Length: 37117, dtype: int64

In [34]:
df['last_pymnt_amnt'].fillna(0,inplace=True)

In [35]:
df['inq_last_6mths'].value_counts()

0.0     19657
1.0     11247
2.0      5987
3.0      3182
4.0      1056
5.0       596
6.0       339
7.0       182
8.0       115
9.0        50
10.0       24
11.0       15
12.0       15
15.0        9
13.0        6
14.0        6
18.0        4
16.0        3
17.0        2
24.0        2
19.0        2
32.0        1
33.0        1
31.0        1
28.0        1
25.0        1
27.0        1
20.0        1
Name: inq_last_6mths, dtype: int64

In [36]:
df['inq_last_6mths'].fillna(0,inplace=True)

In [37]:
df['delinq_2yrs'].value_counts()

0.0     37771
1.0      3595
2.0       771
3.0       244
4.0        72
5.0        27
6.0        13
7.0         6
8.0         3
11.0        2
9.0         1
13.0        1
Name: delinq_2yrs, dtype: int64

In [38]:
df['delinq_2yrs'].fillna(0,inplace=True)

In [39]:
df['pub_rec'].value_counts()

0.0    40130
1.0     2298
2.0       64
3.0       11
4.0        2
5.0        1
Name: pub_rec, dtype: int64

In [40]:
df['pub_rec'].fillna(0,inplace=True)

In [41]:
df['revol_bal'].value_counts()

0.0        1119
255.0        14
298.0        14
1.0          13
682.0        12
           ...
14170.0       1
43734.0       1
37778.0       1
59797.0       1
5251.0        1
Name: revol_bal, Length: 22709, dtype: int64

In [42]:
df['revol_bal'].fillna(0,inplace=True)

In [43]:
df['out_prncp'].value_counts()

0.00       41988
466.88         2
1486.27        1
628.93         1
1602.99        1
           ...
815.87         1
1827.92        1
1086.45        1
2804.26        1
409.05         1
Name: out_prncp, Length: 547, dtype: int64

In [44]:
df['out_prncp'].fillna(0,inplace=True)

In [45]:
df['total_pymnt'].value_counts()

0.000000        21
12029.450000     6
11784.232232     3
5614.279440      3
26687.230000     3
                ..
14059.388249     1
9866.375634      1
1655.756013      1
39066.689988     1
5619.762090      1
Name: total_pymnt, Length: 42388, dtype: int64

In [46]:
df['total_pymnt'].fillna(0,inplace=True)

In [47]:
df['total_pymnt_inv'].value_counts()

0.00        299
6514.52      16
5478.39      14
13148.14     14
11196.57     12
           ...
14728.42      1
30541.64      1
4215.88       1
4307.33       1
258.82        1
Name: total_pymnt_inv, Length: 40108, dtype: int64

In [48]:
df['total_pymnt_inv'].fillna(0,inplace=True)

In [49]:
df['total_rec_int'].value_counts()

0.00       83
1196.57    26
514.52     19
956.78     17
1784.23    17
           ..
2036.58     1
8830.36     1
3282.14     1
306.58      1
619.76      1
Name: total_rec_int, Length: 37533, dtype: int64

In [50]:
df['total_rec_int'].fillna(0,inplace=True)

In [51]:
df['total_rec_late_fee'].value_counts()

0.000000      40148
15.000000        75
30.000000         9
45.000000         3
15.000000         2
              ...
14.997480         1
30.000000         1
41.380000         1
59.955041         1
120.000000        1
Name: total_rec_late_fee, Length: 2288, dtype: int64

In [52]:
df['total_rec_late_fee'].fillna(0,inplace=True)

In [53]:
df['recoveries'].value_counts()

0.00       37789
13.93          4
10.40          4
11.29          4
10.66          3
           ...
1476.07        1
36.33          1
429.14         1
245.49         1
4897.92        1
Name: recoveries, Length: 4530, dtype: int64

In [54]:
df['recoveries'].fillna(0,inplace=True)

In [55]:
df['collection_recovery_fee'].value_counts()

0.0000       38243
2.0000          15
1.2000          11
0.8000          10
1.6000          10
             ...
7.9300           1
63.8456          1
6.3200           1
268.2936         1
1714.2700        1
Name: collection_recovery_fee, Length: 2859, dtype: int64

In [56]:
df['collection_recovery_fee'].fillna(0,inplace=True)

In [57]:
df['home_ownership'].value_counts()

RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

In [58]:
df['home_ownership'].fillna('NONE',inplace=True)

In [59]:
df['verification_status'].value_counts()

Not Verified       18758
Verified           13471
Source Verified    10306
Name: verification_status, dtype: int64

In [60]:
df['verification_status'].fillna('Not Verified',inplace=True)

In [61]:
df['purpose'].value_counts()

debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

In [62]:
df['purpose'].fillna('other',inplace=True)

In [63]:
df['dti'].value_counts()

0.00     206
12.00     54
18.00     46
10.00     46
19.20     45
        ...
28.04      1
27.44      1
26.87      1
27.58      1
28.43      1
Name: dti, Length: 2894, dtype: int64

In [64]:
df['dti'].fillna(0.00,inplace=True)

In [65]:
for i in df.columns.values:
    print(i+'=',df[i].isnull().sum())

id= 0
member_id= 3
loan_amnt= 3
funded_amnt= 3
funded_amnt_inv= 3
term= 3
int_rate= 3
installment= 3
grade= 3
sub_grade= 3
emp_title= 0
emp_length= 0
home_ownership= 0
annual_inc= 7
verification_status= 0
issue_d= 3
loan_status= 3
purpose= 0
title= 16
zip_code= 3
addr_state= 3
dti= 0
delinq_2yrs= 0
earliest_cr_line= 32
fico_range_low= 3
fico_range_high= 3
inq_last_6mths= 0
open_acc= 32
pub_rec= 0
revol_bal= 0
revol_util= 93
total_acc= 32
out_prncp= 0
out_prncp_inv= 3
total_pymnt= 0
total_pymnt_inv= 0
total_rec_prncp= 3
total_rec_int= 0
total_rec_late_fee= 0
recoveries= 0
collection_recovery_fee= 0
last_pymnt_d= 86
last_pymnt_amnt= 0
last_credit_pull_d= 7
last_fico_range_high= 3
last_fico_range_low= 3
pub_rec_bankruptcies= 0

In [66]:
df.dropna( axis=0, inplace=True)

In [67]:
for i in df.columns.values:
    print(i+'=',df[i].isnull().sum())

id= 0
member_id= 0
loan_amnt= 0
funded_amnt= 0
funded_amnt_inv= 0
term= 0
int_rate= 0
installment= 0
grade= 0
sub_grade= 0
emp_title= 0
emp_length= 0
home_ownership= 0
annual_inc= 0
verification_status= 0
issue_d= 0
loan_status= 0
purpose= 0
title= 0
zip_code= 0
addr_state= 0
dti= 0
delinq_2yrs= 0
earliest_cr_line= 0
fico_range_low= 0
fico_range_high= 0
inq_last_6mths= 0
open_acc= 0
pub_rec= 0
revol_bal= 0
revol_util= 0
total_acc= 0
out_prncp= 0
out_prncp_inv= 0
total_pymnt= 0
total_pymnt_inv= 0
total_rec_prncp= 0
total_rec_int= 0
total_rec_late_fee= 0
recoveries= 0
collection_recovery_fee= 0
last_pymnt_d= 0
last_pymnt_amnt= 0
last_credit_pull_d= 0
last_fico_range_high= 0
last_fico_range_low= 0
pub_rec_bankruptcies= 0

In [68]:
df.shape

(42350, 47)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42350 entries, 0 to 42514
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       42350 non-null  object
 1   member_id                42350 non-null  float64
 2   loan_amnt                42350 non-null  float64
 3   funded_amnt              42350 non-null  float64
 4   funded_amnt_inv          42350 non-null  float64
 5   term                     42350 non-null  object
 6   int_rate                 42350 non-null  object
 7   installment              42350 non-null  float64
 8   grade                    42350 non-null  object
 9   sub_grade                42350 non-null  object
 10  emp_title                42350 non-null  object
 11  emp_length               42350 non-null  object
 12  home_ownership           42350 non-null  object
 13  annual_inc               42350 non-null  float64
 14  verification_status      42350 non-null  object
 15  issue_d                  42350 non-null  object
 16  loan_status              42350 non-null  object
 17  purpose                  42350 non-null  object
 18  title                    42350 non-null  object
 19  zip_code                 42350 non-null  object
 20  addr_state               42350 non-null  object
 21  dti                      42350 non-null  float64
 22  delinq_2yrs              42350 non-null  float64
 23  earliest_cr_line         42350 non-null  object
 24  fico_range_low           42350 non-null  float64
 25  fico_range_high          42350 non-null  float64
 26  inq_last_6mths           42350 non-null  float64
 27  open_acc                 42350 non-null  float64
 28  pub_rec                  42350 non-null  float64
 29  revol_bal                42350 non-null  float64
 30  revol_util               42350 non-null  object
 31  total_acc                42350 non-null  float64
 32  out_prncp                42350 non-null  float64
 33  out_prncp_inv            42350 non-null  float64
 34  total_pymnt              42350 non-null  float64
 35  total_pymnt_inv          42350 non-null  float64
 36  total_rec_prncp          42350 non-null  float64
 37  total_rec_int            42350 non-null  float64
 38  total_rec_late_fee       42350 non-null  float64
 39  recoveries               42350 non-null  float64
 40  collection_recovery_fee  42350 non-null  float64
 41  last_pymnt_d             42350 non-null  object
 42  last_pymnt_amnt          42350 non-null  float64
 43  last_credit_pull_d       42350 non-null  object
 44  last_fico_range_high     42350 non-null  float64
 45  last_fico_range_low      42350 non-null  float64
 46  pub_rec_bankruptcies     42350 non-null  float64
dtypes: float64(28), object(19)
memory usage: 15.5+ MB